body {
    width: 70%;
    padding: 2% 0;
    margin: 0 auto;
}

textarea#message {
    border: 1px solid #e0e0e0;
    width: 90%;
    padding: 1rem 1.5rem;
    resize: vertical;
}

input#passphrase {
    width: 95%;
}

div#show-message {
    margin: 0 auto;
}

div#footer p {
    text-align: center;
    padding-top: 3%;
}